@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Poppins:wght@100;400;800&display=swap');

:root{
    --bg-color: #B5BA72;
    --main-color: #99907D;
    --secondary-color: #7D6F86;
    --third-color: #585191;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    transition: 0.5s;
}

header{
    background: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
    border-radius: 5px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: var(--secondary-color);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox{
    margin-left: 50px;
    position: relative;
    max-width: 600px;
}

.content .textbox h2{
    color: var(--third-color);
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .textbox h2 span{
    font-size: 1.8em;
}

.content .textbox p{
    color: var(--secondary-color);
}

.content .imgBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.content .imgBox img{
    border-radius: 5px;
    max-width: 260px;
}


.button {
    display: flex;
    background-image: linear-gradient(to left, var(--third-color), var(--secondary-color));
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button span{
    position: relative;
    transform: translateY(35%);
}

.button:hover {
  box-shadow: var(--third-color) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button {
    padding: 0 2.6rem;
  }
}